.App {
  text-align: center;
  background-color: #fafafa;
  background-image: url("https://uploads-ssl.webflow.com/5f64c4e9139e4648fc773aed/5f64c4e9139e465f42773b7b_yellowc.svg");
  background-size: auto 85%;
  background-position: 1180px 50%;
  background-repeat: no-repeat;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2d3956;
}

.App-link {
  color: #ffc700;
}